<h2>Admin Dashboard</h2>

<ul class="list-group">
  <li class="list-group-item">Total Number of Products: <%= @product_num %></li>
  <li class="list-group-item">Total Number of Categories: <%= @product_category %></li>
 </ul> 

 
